<html>
	<wicket:head>
		<link rel="stylesheet" href="css/components/controllers/slider.css" />
	</wicket:head>
	<body>	
		<wicket:panel>

			<div class="slider" 
				 onmouseover="setBackgroundColor(this, 'rgba(245,187,61,1)');" 
				 onmouseout="setBackgroundColor(this, 'rgba(178,227,244,0.5)');" >
				
				<div  wicket:id="controller-name" class="controller-name">Name
				</div>
				
				<div  wicket:id="controller-description" class="controller-description">Description
				</div>
				
				<div wicket:id="controller-value" class="controller-visualisation controller-value"></div>
				
				<div wicket:id="controller-slider" class="controller-slider"></div>
				
			</div>
			
			<div wicket:id="popup-menu" class="popup-menu"></div> 
		</wicket:panel>
	</body>
</html>