<html>
	<wicket:head>
		<link rel="stylesheet" href="css/components/groupaddress.css" />
	</wicket:head>
	<body>
		<wicket:panel>
			<div class="group-address">
				<nobr>
					<input type="text" wicket:id="main-group" name="main-group" class="group-address-field"/>
					<span wicket:id="main-group-separator" class="group-address-separator"></span>
					<input type="text" wicket:id="sub-group" name="sub-group" class="group-address-field"/>
					<span  wicket:id="group-separator" class="group-address-separator"></span>
					<input type="text" wicket:id="group" name="group" class="group-address-field"/>
				</nobr>
			</div>
		</wicket:panel>
	</body>
</html>