body {

	margin: 0;
	padding: 0;
	background: #88c9e8; /* Old browsers */
	background: -moz-linear-gradient(45deg, #88c9e8 25%, #066dab 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(25%, #88c9e8
		), color-stop(100%, #066dab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #88c9e8 25%, #066dab 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #88c9e8 25%, #066dab 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #88c9e8 25%, #066dab 100%);
	/* IE10+ */
	background: linear-gradient(45deg, #88c9e8 25%, #066dab 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#88c9e8',
		endColorstr='#066dab', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#header {
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px 10px #D8E2F2;
	box-shadow: 0px 0px 10px 10px #D8E2F2;
	background-color: #D8E2F2;
}

#headerContent{
	position: absolute;
}

#logout{
	position: absolute;
	right: 10px;
}

#sidebar {
	position: absolute;
	margin-top: 20px; 
	width : 150px;
	float: left;
	overflow: hidden;
	padding: 10px;
	background:rgba(245,187,61,0.5);
	width: 150px;
	display: none;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}

#main {
	position: absolute;
	margin: 20px;
	float: left;
	overflow: auto;
	padding: 10px;
	background:rgba(100,100,150,0.1);
	-webkit-box-shadow: 0px 0px 5px 5px rgba(100,100,150,0.1);
	box-shadow: 0px 0px 5px 5px rgba(100,100,150,0.1);

}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	-webkit-box-shadow: 0px 0px 10px 10px #D8E2F2; 
	box-shadow : 0px 0px 10px 10px #D8E2F2;
	background-color: #D8E2F2;

}

#modal{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

.modalBody{
	top:0;
	left:0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;	
}

.modalBackground{
	top:0;
	left:0;
	background:rgba(0,0,0,0.25);
	position: absolute;;
	width: 100%;
	height: 100%;
	z-index: 100;	
}