<html>
	<wicket:head>
		<link rel="stylesheet" href="css/components/projectitem.css" />
	</wicket:head>
	<body>
		<wicket:panel>
			<div class="projectItemBody component" 
			onmouseover="setFocused(this);" 
			onmouseout="unsetFocused(this);" >
				
				<div wicket:id="projectItemNameLabel" class="projectItemLabel">
				</div>
				<div wicket:id="projectItemName" class="projectItemName">
				</div>
				<div wicket:id="projectItemDescriptionLabel" class="projectItemLabel">
				</div>
				<div wicket:id="projectItemDescription" class="projectItemDescription">
				</div>
				<img wicket:id="projectItemImage" class="projectItemImage"/>
			</div>
			<div wicket:id="popup-menu" class="popup-menu"></div> 
					
		</wicket:panel>
	</body>
</html>