.onoffswitch{
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;

	width: 190px;
	height: 70px;
	text-align: left;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(178,227,244,0.5);
}

.onoffswitch .controller-name{
	position: absolute;
	top: 0;
	width: 120px;
	height: 30px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: medium;
	color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
	font-style: italic;
}

.onoffswitch .controller-description{
	position: absolute;
	top: 30px;
	width: 120px;
	height: 40px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: small;
	color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
	font-style: italic;
}

.onoffswitch .controller-visualisation{
	position: absolute;
	width: 70px;
	height: 70px;
	right: 0;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.onoffswitch-v{
	position: relative;

	width: 70px;
	height: 70px;
	background-color: rgba(178,227,244,0.5);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.onoffswitch-v .controller-name{
	display: none;
}

.onoffswitch-v .controller-description{
	display: none;
}

.onoffswitch-v .controller-visualisation{
	position: absolute;
	width: 70px;
	height: 70px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
