.popup-menu-item{
	margin: 2px;
	color: white;
	font-style: italic;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.popup-menu-item-body{
	width: 150px;
	height: 30px;
}

.popup-menu-item-icon{
	position: absolute;
	left: 5px;
	width: 30px;
	height: 30px;
}

.popup-menu-item-name{
	position: absolute;
	padding: 5px;
	left: 35px;
	width: 105px;
	height: 30px;
	text-align: center;
}